.button {
    cursor: pointer;
    position: relative;

    border-style: none;
    background: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button:disabled {
    border-color: rgb(217 217 217 / 0.69);
}

.button:hover:not(:disabled) {
    opacity: 0.8;
}

.select_button {
    min-width: 100%;
    background-color: black;
    color: white;
    font-size: 24px;
    border-radius: 12px;
    padding-inline: 2rem;
}

.button.transparent {
    background-color: transparent;
    border: none;
}

.go_to_button {
    width: fit-content;
    padding-block: 8px;
    padding-inline: 16px;
    border-radius: 20px;
    /*font-size: 16px;*/
    flex: 1;
}

.go_to_button.black {
    background-color: black;
    color: #fff;
    display: inline-flex;
}

.go_to_button.white {
    background-color: white;
    color: #000;
    display: inline-flex;
}

.go_to_button::after {
    content: '';
    width: 20px;
    height: 20px;
    clip-path: polygon(
        0 49%,
        58% 48%,
        44% 36%,
        100% 50%,
        45% 68%,
        59% 55%,
        0 56%
    );

    opacity: 0;
    transform: translateX(0);
    transition: all 0.3s ease;
}

.go_to_button.white::after {
    background-color: black;
}

.go_to_button.black::after {
    background-color: white;
}

.go_to_button.white:hover {
    background: #b0b8b3;
    transform: scale(1.05);
    box-shadow: 0 10px 12px 1px rgb(90, 96, 90, 0.5);
}

.go_to_button:hover::after {
    transform: translateX(10px);
    opacity: 1;
}

.go_to_button.black:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 12px 1px rgba(0, 0, 0, 0.2);
}

.go_to_button:hover:not(:disabled) {
    opacity: 1;
}

.go_to_button.black.border {
    border: solid 1px white;
}

.go_to_button.white.border {
    border: solid 1px black;
}

.copy_wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.copy_button {
    position: relative;
    width: 12px;
    height: 16px;
    border: none;
    background: transparent;
    cursor: pointer;

    opacity: 0;
    transition: opacity 0.2s ease;
}

.copy_button::before,
.copy_button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.copy_button::before {
    border: 2px solid white;
}

.copy_button::after {
    border-right: 2px solid white;
    border-top: 2px solid white;
    left: 4px;
    bottom: 4px;
}

.share_button {
    background: transparent;
    position: relative;
}

.share_button::before {
    content: url('/icons/Arrow.svg');
    width: 25px;
    height: 25px;
    position: absolute;
}

@media (hover: hover) {
    .transparent:hover {
        background-color: var(--color-ghost);
    }
    .copy_wrapper:hover .copy_button {
        opacity: 1;
    }
}

@media (pointer: coarse) {
    .transparent:active {
        background-color: rgb(188 219 239 / 0.1);
        border-color: var(--color-ghost);
    }
}

@media (max-width: 1024px) {
    .go_to_button::after {
        content: '';
        width: 15px;
        height: 15px;
    }

    .go_to_button {
        width: fit-content;
        padding-block: 4px;
        padding-inline: 10px;
    }
}
