.product_slider {
    padding-bottom: 90px;
    gap: 0;
}
.product_el {
    position: relative;
    flex: 0 0 calc(100% / 2.5);
    margin: 0;
    max-width: calc(var(--parallax-slider-width) / 2.5);
    height: auto;
    scroll-snap-align: center;
}

.closest_el {
    z-index: var(--layer-overlay-content);
}

.product_el > .product_card {
    border-radius: 24px;
    row-gap: 1rem;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
    justify-content: center;
    padding: 1.5rem 1rem;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    transition:
        transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1),
        filter 0.4s ease,
        opacity 0.4s ease;
}

.product_el .closest_card {
    transform: scale(1.1) translateY(50px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    filter: saturate(1.2) contrast(1.05);
    opacity: 1;
}

.product_el .image {
    border-radius: 16px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    object-position: center;
}

.product_el .content {
    display: flex;
    flex-direction: column;
    min-height: 0;
    gap: 0.5rem;
    max-width: 100%;
    overflow-y: clip;
    white-space: normal;
    word-break: break-all;
}

.product_el .title {
    font-weight: 500;
}

.content .subtitle {
    flex: 1;
}

.product_el > .product_card:not(.closest_card) {
    opacity: 0.6;
    filter: blur(1px);
}

.product_el:first-child {
    margin-left: calc(var(--parallax-slider-width) / 6);
}

.product_el:last-child {
    margin-right: calc(var(--parallax-slider-width) / 6);
}

@media (max-width: 768px) {
    .product_el {
        flex: 0 0 calc(100% / 2);
        max-width: calc(var(--parallax-slider-width) / 2);
    }

    .product_el > .product_card {
        padding: 1rem 1rem;
    }

    .product_el .image {
        border-radius: 16px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        object-position: center;
    }
}

@media (max-width: 480px) {
    .product_el {
        flex: 0 0 calc(100% / 1.5);
        max-width: calc(var(--parallax-slider-width) / 1.5);
    }
    .product_el > .product_card {
        padding: 1rem 0.5rem;
    }
    .product_el .image {
        border-radius: 16px;
        aspect-ratio: 3 / 4;
        object-fit: cover;
        object-position: center;
    }
}

@media (orientation: landscape) and (width < 1024px) {
    .product_el .image {
        border-radius: 16px;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
    }
}
