{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "trailingComma": "es5",
    "objectWrap": "collapse",
    "proseWrap": "always",
    "tabWidth": 4
}
