# django debug
DEBUG=True

# Database (PostgreSQL)
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=localhost
DB_PORT=5432

# django secret
DJANGO_SECRET_KEY=django-super-secret

# vtb-acquiring
VTB_USERNAME=user-name
VTB_PASSWORD=password
