@import 'reset.css';
@import '../../public/assets/Lora/stylesheet.css';
@import '../../public/assets/MonteserratAlternates/stylesheet.css';
@import '../../public/assets/PlayfairDisplaySc/stylesheet.css';
@import './components/layouts.css';
@import './components/pages.css';

:root {
    /*basic color palette*/
    --color-error: rgb(235 68 68 / 1);
    --color-warning: rgb(250 192 68 / 1);
    --color-primary: rgb(84 216 56 / 1);
    --color-bay-leaf: rgb(198 206 201 / 1);
    --color-link: rgb(70 143 241 / 1);
    --color-ghost: rgba(101, 101, 101, 0.25);
    --color-needles: rgb(51 58 51 / 1);

    /*container-parameters*/
    --container-gap-y: 10px;
    --padding-container-y: 2.5rem;
    --padding-container-x: 3rem;
    --container-width: calc(1440px + 2 * var(--padding-container-x));
    --inline-padding: 1rem;
    --block-padding: 1rem;

    /*header-parameters*/
    --header-height: 80px;

    /*font settings*/
    --line-height: 1.5;
    --font-primary: 'Lora', serif;
    --font-heading: 'Playfair Display SC', sans-serif;
    --default-font-size: 14px;
    --font-weight-primary: 300;

    /*z-index*/
    --layer-default: 0;
    --layer-content: 100;
    --layer-sticky: 150;
    --layer-overlay: 200;
    --layer-overlay-content: 250;
    --layer-header: 300;
    --layer-modal: 400;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: var(--font-primary), serif;
    font-weight: 300;
    font-size: var(--default-font-size);
    background-color: black;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-family: var(--font-heading), sans-serif;
}

h2 {
    font-family: 'Montserrat Alternates', serif;
    font-weight: 400;
}

h1 {
    font-size: clamp(24px, 2.5vw, 36px);
}
h2 {
    font-size: clamp(36px, 3.33vw, 48px);
}
h3 {
    font-size: clamp(28px, 2.75vw, 36px);
}
h4 {
    font-size: clamp(24px, 2.5vw, 28px);
}
h5 {
    font-size: clamp(20px, 2vw, 24px);
}
h6 {
    font-size: clamp(14px, 1.75vw, 16px);
}
p {
    font-size: clamp(12px, 1.5vw, 14px);
}
h3,
h4,
h5,
h6,
p {
    font-weight: inherit;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (max-width: 1440px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    body {
        line-height: 1.6;
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    body {
        line-height: 1.7;
        font-size: 14px;
    }
    h5 {
        font-size: 18px;
    }
    p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        line-height: 1.75;
        font-size: 12px;
    }
    h5 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }
}
