@import 'reset.css';
@import '../../public/assets/stylesheet.css';
@import './components/layouts.css';
@import './components/pages.css';

:root {
    /*basic color palette*/
    --color-error: rgb(235 68 68 / 1);
    --color-warning: rgb(250 192 68 / 1);
    --color-primary: rgb(84 216 56 / 1);
    --color-bay-leaf: rgb(198 206 201 / 1);
    --color-link: rgb(70 143 241 / 1);
    --color-ghost: rgb(101 101 101 / 0.5);
    --color-needles: rgba(64, 85, 64, 0.9);

    /*container-parameters*/
    --container-gap-y: 10px;
    --padding-container-y: 24px;
    --padding-container-x: 16px;
    --container-width: calc(1440px + 2 * var(--padding-container-x));
    --container-padding: 4%;

    /*font settings*/
    --line-height: 1.5;
    --font-primary: 'Lora', serif;
    --font-heading: 'Playfair Display', serif;
    --max-font-size: 28px;
    --font-weight: 500;

    /*z-index*/
    --layer-default: 0;
    --layer-content: 100;
    --layer-header: 200;
    --layer-modal: 300;
}

body {
    position: relative;
    font-family: var(--font-primary);
    font-weight: var(--font-weight);
    font-size: var(--max-font-size);
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: clamp(36px, 6.5vw, 48px);
    font-weight: 500;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', sans-serif;
    font-weight: 300;
}

h2 {
    font-size: clamp(28px, 5vw, 36px);
}
h3 {
    font-size: clamp(24px, 4vw, 32px);
}
h4 {
    font-size: clamp(18px, 3.75vw, 24px);
}
h5 {
    font-size: clamp(16px, 3.5vw, 18px);
}
p {
    font-size: clamp(14px, 3vw, 16px);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/*desktop-first*/
@media (max-width: 1439px) {
    .container {
        max-width: 1439px;
    }
    body {
        font-size: 20px;
    }
}

@media (max-width: 1023px) {
    body {
        line-height: 1.6;
        font-size: 18px;
    }
    .container {
        max-width: 1023px;
        padding-inline: 4%;
    }
}

@media (max-width: 767px) {
    body {
        line-height: 1.7;
        font-size: 16px;
    }

    .container {
        max-width: 767px;
        padding-inline: 3%;
    }
}

@media (max-width: 480px) {
    body {
        line-height: 1.75;
        font-size: 14px;
    }

    .container {
        min-width: 240px;
        grid-template-columns: 1fr;
        grid-auto-flow: column;
        grid-template-rows: [first] 100vh [second] 50vh [third] auto [fourth] 100vh;
        padding-inline: 10px;
    }
}
