.number_handler .controls {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 3px 0;
}

.controls > .number_handler_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
}

.number_handler_panel .button {
    border-radius: 50%;
    height: 2rem;
    aspect-ratio: 1/1;
    padding: 0 5px;
    display: inline-block;
    font-size: 20px;
    border: 1px solid grey;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
}

.number_handler_panel .counter {
    width: 50px;
    font-weight: 600;
    padding: 5px;
    background: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;

    text-overflow: fade;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
