.booking-card-container {
    width: 100%;
    height: auto;
    padding: 10px 24px;
    margin-top: 15px;
    background-color: transparent;
    border: 1px solid #b0b0b0;
    border-radius: 12px;
    min-height: 150px;
}

.booking-card-meta {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
    gap: 1rem;
    top: 0;
}

.card-title {
    display: inline-block;
    color: black;
}

.card-title > h3 {
    font-size: clamp(20px, 1.5vw, 28px);
}

.card-content {
    flex: 1;
}

@media (max-width: 768px) {
    .booking-card-container {
        border: none;
        width: 100%;
        height: auto;
        padding: 10px 6px;
        min-height: 200px;
        background-color: white;
        box-sizing: border-box;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}
