.loader {
    position: relative;
    background-color: transparent;
    aspect-ratio: 1 / 1;
    width: 100px;
    height: 100px;
    z-index: var(--layer-modal);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
}

.bubble {
    width: 30%;
    height: 30%;
    border: solid 2px black;
    border-radius: 50%;
    position: relative;
}
.bubble::after {
    background-color: transparent;
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: solid 1px black;
    position: absolute;
    right: 6px;
    top: 6px;
}

.bubble:nth-child(1) {
    opacity: 0;
    animation: appear-first 3s infinite ease-out;
}

@keyframes appear-first {
    16% {
        opacity: 1;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(-100%);
    }
    66% {
        opacity: 0;
        transform: translateY(0);
    }
}

.bubble:nth-child(2) {
    opacity: 0;
    animation: appear-second 3s infinite ease-out;
}

@keyframes appear-second {
    16% {
        opacity: 0;
        transform: translateY(0);
    }
    32% {
        opacity: 1;
        transform: translateY(-100%);
    }
    66% {
        opacity: 1;
        transform: translateY(-100%);
    }
    82% {
        opacity: 0;
        transform: translateY(0);
    }
}

.bubble:nth-child(3) {
    opacity: 0;
    animation: appear-third 3s infinite ease-out;
}

@keyframes appear-third {
    32% {
        opacity: 0;
        transform: translateY(0);
    }
    48% {
        opacity: 1;
        transform: translateY(-100%);
    }
    82% {
        opacity: 1;
        transform: translateY(-100%);
    }
    100% {
        opacity: 0;
        transform: translateY(0);
    }
}
