.time_selector {
    min-width: 240px;
    max-width: 1440px;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    gap: 10px;
}

header > .time_selector_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.time_slots_container {
    border-radius: 12px;
    padding: 12px 24px;
    background-color: white;
    justify-content: start;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 0.5rem;
    border: 1px solid grey;
}

.time_selector_button {
    color: white;
    border-radius: 12px;
    background: #020024;
    padding-inline: 2rem;
}

footer.time_selector_footer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    height: auto;
    width: 100%;
}

@media (max-width: 1440px) {
    .time_slots_container {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
}
@media (max-width: 1024px) {
    .time_slots_container {
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    }
}
@media (max-width: 768px) {
    .time_slots_container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}
