.payment-method-container {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(auto-fill, minmax(20%, 1fr));
    grid-gap: 1.5rem;
}

.payment-method {
    width: inherit;
    display: grid;
    grid-template-columns: 9fr 1fr;
    border-radius: 24px;
    border: 1px solid black;
    padding: 1rem 2rem;
}

.payment-method .content {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    color: black;
}

.payment-method .toggle-checkbox {
    grid-column: 2;
}

.payment-button {
    margin-top: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: black;
    color: white;
    border-radius: 24px;
}

@media (orientation: landscape) {
    @media (768px <= width < 1024px) {
        .payment-method-container {
            grid-template-rows: none;
            grid-auto-flow: row;
            max-height: 85%;
            grid-gap: 1.5rem;
            overflow: scroll;
        }

        .payment-method .content {
            gap: 0.5rem;
        }
    }

    @media (width < 768px) {
        .payment-method-container {
            grid-template-rows: none;
            grid-auto-flow: row;
            max-height: 90%;
            grid-gap: 1rem;
            overflow: scroll;
        }
        .payment-button {
            margin-top: 0.5rem;
            padding: 0.25rem 2rem;
            display: flex;
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .payment-method-container {
        grid-gap: 1rem;
    }
    .payment-method {
        grid-template-columns: 9fr 1fr;
        padding: 1rem;
    }
    .payment-method .content {
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .payment-button {
        margin-top: 0.5rem;
        padding: 0.25rem 2rem;
        display: flex;
        width: 100%;
    }
}
