# Telegram bot (aiogram)
BOT_TOKEN=bot-token

# API urls
FORTUNA_API_URL=http://localhost:port/fortuna_api
BOT_API_URL=http://localhost:port/bot_api

# TODO: change api_key loading method
# It's a hack! Same api_key stored in bakend/.env!
# Possible solutions:
#   1) Common .env file in the project root
#   2) Docker environment setup
BACKEND_API_SECRET_KEY=api-secret-key
