header {
    top: 0;
    left: 0;
    position: sticky;
    z-index: var(--layer-header);

    /*header and footer padding*/
    --inline-padding: 10px;
    --block-padding: 20px;
}

nav > *,
footer > * {
    padding-inline: var(--inline-padding);
    padding-block: var(--block-padding);
}

.navbar {
    --backgroundHeaderColor: #000;
    --foregroundHeaderColor: #fff;

    background-color: var(--backgroundHeaderColor);
    color: var(--foregroundHeaderColor);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    animation-name: navbar-scale-y;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-timeline: scroll();
}

.booking-navbar {
    justify-content: center;
    animation-name: none;
}

@keyframes navbar-scale-y {
    to {
        height: 80px;
        box-shadow: 0 4px 4px var(--backgroundHeaderColor);
    }
}

.navbar .navbar-content {
    background-color: transparent;
    width: 80px;
    height: 100%;
}

.navbar .navbar-right {
    background-color: transparent;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-right span {
    background-color: transparent;
    position: relative;
    border-radius: 10px;
}

.navbar-right span > a {
    color: var(--color-bay-leaf);
}

.navbar-content svg {
    width: 100%;
    height: 100%;
    fill: red;
}

footer {
    grid-row: 3;
}

.basement {
    --backgroundFooterColor: #000;
    --foregroundFooterColor: var(--color-bay-leaf);

    background-color: var(--backgroundFooterColor);
    color: var(--foregroundFooterColor);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.menu-list {
    background-color: rgb(127 127 127 / 0.9);
    display: flex;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    padding-inline: 10px;
    padding-block: 20px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    /*animation*/
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.4s ease;
}

.menu-item {
    padding: 8px;
    color: white;
    font-size: 3.5rem;
    text-align: center;
    text-decoration: none;
}

.burger-checkbox {
    position: absolute;
    visibility: hidden;
}
.burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: none;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
}
.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: var(--color-bay-leaf);
}
.burger::before {
    top: 0;
    box-shadow: 0 11px 0 var(--color-bay-leaf);
    transition:
        box-shadow 0.3s 0.15s,
        top 0.3s 0.15s,
        transform 0.3s;
}
.burger::after {
    bottom: 0;
    transition:
        bottom 0.3s 0.15s,
        transform 0.3s;
}
.burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 20px 0 rgba(0, 0, 0, 0);
    transition:
        box-shadow 0.15s,
        top 0.3s,
        transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition:
        bottom 0.3s,
        transform 0.3s 0.15s;
}
.burger-checkbox:checked ~ .menu-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

@media (hover: hover) {
    .navbar-right span > a:hover {
        color: white;
    }

    .navbar-right span:hover {
        background-color: rgb(255 255 255 / 0.1);
    }
}
.sidebar {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 100vh;
}

.sidebar-right {
    gap: 10px;
    right: 0;
}

.sidebar-left {
    left: 0;
    padding: 10px;
}

.sidebar-footer {
    height: 20vh;
    width: 100%;
    z-index: var(--layer-modal);
    background-color: white;
    box-shadow: 0 -10px 15px gray;
}

@media (pointer: coarse) {
    .menu-list > li:active {
        background-color: rgba(165, 165, 165, 0.9);
    }
    .navbar-right span > a:active {
        color: white;
    }

    .navbar-right span:active {
        background-color: rgb(255 255 255 / 0.1);
    }
}

/*desktop-first*/
@media (max-width: 1439px) {
    .navbar {
        width: 100vw;
    }
    .basement {
        width: 100vw;
    }
}

@media (max-width: 1023px) {
    nav > *,
    footer > * {
        padding-inline: 15px;
        padding-block: 7px;
    }
}

@media (max-width: 767px) {
    nav > *,
    footer > * {
        padding-inline: 10px;
        padding-block: 5px;
    }
    .navbar .navbar-right {
        display: none;
    }
    .burger {
        display: block;
    }
}

@media (max-width: 480px) {
    .navbar {
        min-width: 240px;
        width: 100%;
    }

    .basement {
        flex-direction: column;
        min-width: 240px;
        width: 100%;
    }

    nav > *,
    footer > * {
        padding-inline: 5px;
        padding-block: 3px;
    }
}
