.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0 0 0 / 0.66);
    z-index: var(--layer-modal);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    overflow-y: clip;
}

.modal_background.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s ease-in;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.modal_background > .modal_window {
    width: auto;
    height: auto;
    min-height: 50vh;
    max-width: 50vw;
    background-color: white;
    border-radius: 24px;
    padding: 2rem;
    transform: scale(0);
}

.modal_window.active {
    transform: scale(1);
    transition: transform 0.2s ease-in;
}

body:has(.modal_background.modal_active) {
    overflow: hidden;
}

@media (orientation: landscape) {
    @media (width < 1024px) {
        .modal_background > .modal_window {
            height: 90vh;
            max-width: 100vw;
        }
    }
}
@media (max-width: 768px) {
    .modal_background > .modal_window {
        max-width: 90vw;
    }
}
